/*.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.column1 {
    width: 500px;
    height: 500px;
    margin: auto;
}
.buttonTranslate {

}*/
.column2 {
    width: 80%;
    height: 200px;
    background-color: white;
    color: #333333;
    padding: 10px 15px;
    border-radius: 5px;
    border-style: solid;
    border-color: #706c61;
    border-width: 2px;
    margin: auto;
} 

body {
    font-family: 'JetBrains Mono', Arial, sans-serif;
    text-align: center;
    background-color: #333333;
    color: white;
}
label {
    font-weight: 800;
}
input[type=button] {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 800;
    background-color: #e1f4f3;
    color: #333333;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
input[type=button]:hover {
    background-color: white;
    cursor: pointer;
}
textarea {
    width: 80%;
    height: 200px;
    font-family: 'Roboto', Arial, sans-serif;
    padding: 10px 15px;
    border-radius: 5px;
    border-style: solid;
    border-color: #706c61;
    border-width: 2px;
    resize: none;
    margin: auto;
}
input[type=text]:focus {
    background-color: #fafafa;
}
#outputLetras {
    font-size: 24px;    
}
/*@media screen and (max-width: 600px) {
    textarea {
        width: 90%;
    }
}*/